//IMPORT PARTIALS
@import "./song";
@import "./player";
@import "./library";
@import "./nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}

.app {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  font-weight: 400;
  color: rgba(100, 100, 100);
}
